{% extends 'base.html' %}

{% block content%}
{% load static %}
<h1 class="text-center">Detalle Proveedor</h1>

<br>
<main class="container">
    <div class="row">
        <div class="col-md-8s ">
            <form method="POST" class="card card-body ">
                {% csrf_token %}
                {{form.as_p}}
                {% if perms.task.change_proveedor %}
                <input name="" id="editar" class="btn btn-primary" type="submit" value="EDITAR">
                {% endif %}
            </form>
            {% if perms.task.delete_proveedor %}
            <form action="{% url 'eliminarProveedor' proveedor.id %}" method="POST" class="card card-body ">
                {% csrf_token %}
                <input name="" class="btn btn-danger" type="submit" value="ELIMINAR">
            </form>
            {% endif%}
        </div>
    </div>
</main>




{% endblock %}