{% extends 'base.html' %}

{% block content%}
{% load static %}

<br>
<br>

<main class="container">
    <div class="row">
        <div class="col-md-8s ">
            <form action="/reservar/" method="POST" class="card card-body ">
                

                <h1 class="text-center">Reservar</h1> 
                {{error}}
                {% csrf_token %}

                
                
               
                    {{form.as_table}}
                
                
                
              
                      <br>
                      <input name="" id="reserva" class="btn btn-primary" type="submit" value="RESERVAR">
            </form>

        </div>
    </div>
</main>


{% endblock %}