{% extends 'base.html' %}

{% block content%}
{% load static %}
<br>
<main class="container">
    <div class="row">
        <div class="col-md-8s ">
<h1 class="text-center">Lista Sevicios</h1>

<div class="card">
    
    <div class="card-body">
        <h4 class="card-title">Servicios</h4>
        
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>DESCRIPCIÓN</th>
                    <th>PRECIO</th>
                </tr>
            </thead>
            <tbody>
                {% for servicio in servicio %}
                <tr>
                    <td>{{ servicio.id }}</td>
                    <td>
                        
                        {{ servicio.nombre}}
                    </td>
                    <td>{{ servicio.descripcion }}</td>
                    <td>{{ servicio.valor}}</td>
                    <td>
                        <a href="{% url 'detalleServicio' servicio.id %}" class="btn btn-primary">Detalle</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    
</div>




        </div>
    </div>
</main>

{% endblock %}